body{
    margin: 0;
    text-align: center;
    line-height: 2;
    font-family: 'Merriweather',serif;
    color: #40514E;
}

h1{
    color: #960000;
    font-size: 90px;
    margin-top: auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #960000;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #960000;
}
p{
    line-height: 2;
}
hr{
    border: dotted #ff8c00 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.middle-container{
    margin: 100px 0;
}
.lucifer{
    height: 300px;
}
.intro{
    width: 30%;
    margin: auto;
}
.elmo{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.spong{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.Contact-message{
    margin: 40px auto 60px;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.top{
    background-color:#f9dfdc ;
    position: relative;
    padding-top: 100px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.profile{
    size: 20px;
}
.bottom-container{
    background-color: #f9dfdc;
    padding: 50px 0 20px;
}
.btn {
    background: #ff0000;
    background-image: -webkit-linear-gradient(top, #ff0000, #730e0e);
    background-image: -moz-linear-gradient(top, #ff0000, #730e0e);
    background-image: -ms-linear-gradient(top, #ff0000, #730e0e);
    background-image: -o-linear-gradient(top, #ff0000, #730e0e);
    background-image: linear-gradient(to bottom, #ff0000, #730e0e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    text-decoration: none;
  }